<div class="recommendations">
  <div class="container">
    <h2 class="recommendations-title">Рекомендации для вас</h2>
    <div class="recommendations-item__list">
      @for (item of advertisements | async; track item.id) {
      <a
        class="recommendations-item"
        [routerLink]="['/advertisement', item.id]"
        routerLinkActive="active"
      >
        <img class="recommendations-item__image" [appLazyImage]="item.imagesIds[0]" alt="picture" />
        <p class="recommendations-item__title">{{ item.name }}</p>
        <p class="recommendations-item__price">{{ formatPrice(item.cost) }}</p>
        <p class="recommendations-item__location">{{ item.location }}</p>
        <p class="recommendations-item__publish-date">{{ item.createdAt }}</p>
      </a>
      }
    </div>
  </div>
</div>
