<div class="user-actions">
  <div class="container">
    <div class="user-actions__wrapper">
      <a class="user-actions__sign-in-icn" href="#">
        <img src="assets/images/sign-in_icon.png" alt="signInIcon" />
      </a>
      <a (click)="show()" class="user-actions__sign-in" href="#">Войти</a>
      <button class="user-actions__new-item-btn">
        Новое объявление
        <img src="assets/images/new-item_icon.png" alt="" />
      </button>
      <button class="user-actions__new-item-btn-short">
        <img src="assets/images/new-item_icon.png" alt="" />
      </button>
    </div>
  </div>
</div>
