<div class="advertisement-item">
  @if (advertisement$ | async; as item) {
  <div class="container">
    <div class="advertisement-item__header">
      <h1 class="advertisement-item__title">{{ item.name }}</h1>
      <p class="advertisement-item__price">{{ formatPrice(item.cost) }}</p>
    </div>

    <div class="advertisement-item__info">
      <div class="advertisement-item__image">
        <img [appLazyImage]="item.imagesIds[0]" [alt]="item.name" />
      </div>

      <div class="advertisement-item__details">
        <button class="advertisement-item__show-phone-btn">
          <img src="assets/images/phone-btn-icn.png" />
          Показать номер телефона
        </button>

        <p class="advertisement-item__location-title">Адрес</p>
        <span class="advertisement-item__location">{{ item.location }}</span>

        <p class="advertisement-item__description-title">Описание</p>
        <span class="advertisement-item__description">{{
          item.description || 'Описание у данного объявления отсутствует'
        }}</span>

        <!-- <p class="advertisement-item__date">
          {{ item.createdAt | date : 'dd.MM.yyyy' }} -->
        <!-- </p> -->
      </div>
    </div>
  </div>
  } @else if (advertisement$ | async; as item) {
  <div class="not-found">
    <h2>Объявление не найдено</h2>
  </div>
  } @else {
  <div class="loading">
    <h2>Загрузка...</h2>
  </div>
  }
</div>
