.advertisement-item {
  &__header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 24px;
    gap: 377px;
  }
  &__title {
    flex: 1;
    max-width: 500px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin: 0;
  }
  &__price {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
  }
  &__info {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  &__image {
    flex: 0 1 856px;

    img {
      width: 100%;
      height: 512px;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__show-phone-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 416px;
    height: 68px;
    font-size: 20px;
    transition-duration: 0.3s;
    margin-bottom: 40px;
  }

  &__show-phone-btn:hover {
    background-color: #285bae;
    cursor: pointer;
  }

  &__location-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__location {
    margin-bottom: 60px;
  }

  &__description-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}
