<div class="board-heading">
  <div class="container">
    <div class="board-heading__wrapper">
      <h1 class="board-heading__title">Доска объявлений</h1>
      <button class="board-heading__categories-list-btn">
        <img class="list-icon" src="assets/images/categories-list_icon.png" alt="itemListIcon" />
        Все категории
      </button>
      <button class="board-heading__categories-list-btn-short">
        <img class="list-icon" src="assets/images/categories-list_icon.png" alt="itemListIcon" />
      </button>
      <input class="board-heading__search-input" type="text" placeholder="Поиск по объявлениям" />
      <button class="board-heading__search-btn">
        Найти
        <img class="search-icon" src="assets/images/seacth-btn_icon.png" alt="searchIcon" />
      </button>
      <button class="board-heading__search-btn-short">
        <img class="search-icon" src="assets/images/seacth-btn_icon.png" alt="searchIcon" />
      </button>
    </div>
  </div>
</div>
