@import 'assets/styles/reset.scss';
@import 'primeicons/primeicons.css';

* {
  font-family: 'Inter', sans-serif;
}

button {
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1296px;
}
